div.vertical-sentence {
  -ms-writing-mode: tb-rl; /* for IE */
  -webkit-writing-mode: vertical-rl; /* for Webkit */
  writing-mode: vertical-rl;
}
.rotate-characters-back-to-horizontal {
  -webkit-text-orientation: upright; /* for Webkit */
  text-orientation: upright;
}
