div.vertical-sentence {
  -ms-writing-mode: tb-rl; /* for IE */
  -webkit-writing-mode: vertical-rl; /* for Webkit */
  writing-mode: vertical-rl;
}
.rotate-characters-back-to-horizontal {
  -webkit-text-orientation: upright; /* for Webkit */
  text-orientation: upright;
}

.programmingSkillsTitle {
  text-align: center;
  padding: 10px;
  margin: auto;
}

.programmingSkillsContainer {
  background: url("../../assets/svg/Layer\ 8.svg") no-repeat;
  background-size: cover;
}
